body{
    background: #fff;
}
.mint-header{
    background: red;
    color:#fff;
}
.mui-bar-tab .mui-tab-item.mui-active{

    color: red;
}
#return {
    background: rgb(247, 244, 244);
    color: black;
  }
